:root {
    --darkBlue: rgb(98, 59, 156);
    --darkerBlue: rgb(45, 49, 146);
    --lightBlue: rgb(73, 138, 220);
    --lighterBlue: rgb(127, 136, 203);
    --marginHor: 150px;
    --marginVert: 90px;
    --header-font: 45pt;
    --subheader-font: 33pt;
    --forecast-font: 22pt;
    --search-font: 20pt;
    --submit: 16pt;
    --time-header-font: 35pt;
    --temp-header-font: 85pt;
    --time-main-font: 25pt;
    --temp-main-font: 75pt;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

#arrow-down {
	align-self: center;
	margin-top: 2vh;
	width: fit-content;
}

body {
	display: flex;
	flex-direction: column;
}

#current-temp {
	font-size: var(--temp-header-font);
	width: 100px;
}

#current-time-div {
	font-size: var(--time-header-font);
	width: 100px;
}

#current-time-temp-div {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
}

.current-time-temp-border {
	background-color: black;
    flex: 1px 0 0;
	height: 100%;
	margin: 0 20px;
}

#current-weather {
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: "Saira Extra Condensed";
	font-weight: 300;
	justify-content: space-evenly;
	height: -webkit-fill-available;
}

#current-weather-icon {
	width: 80%;
}

#forecast-for {
	font-family: "IBM Plex Sans";
	font-size: var(--forecast-font);
	color: white;
	line-height: calc(var(--forecast-font) * 2);
}

header {
	align-items: center;
	background: linear-gradient(var(--lightBlue), var(--darkBlue));
	box-sizing: border-box;
	box-shadow: 0 50px 50px rgb(159, 159, 159);
	display: flex;
	height: 100vh;
    flex-direction: column;
	font-family: "IBM Plex Sans";
	font-weight: 500;
	overflow: hidden;
	padding: 8vh 5vw 3vh 5vw;
	width: auto;
}

#header-bottom-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header-mid-bottom-area {
	display: flex;
    flex-direction: column;
	width: 100%;
}

.next-hour {
	align-items: center;
	display: flex;
	font-family: "Saira Extra Condensed";
	font-weight: 300;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
}

.next-hour-border {
	background-color: rgb(191, 191, 191);
    flex: 1px 0 0;
}

.next-hour-icon {
	height: 70%;
}

#next-hours {
	align-content: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
}

.next-hour-temp {
	font-size: var(--temp-main-font);
}

.next-hour-time {
	font-size: var(--time-main-font);
}

main {
	display: flex;
	flex: auto 1 1;
    flex-direction: column;
	height: 100vh;
}

#main-title {
	color: white;
	font-size: calc(10vw - 4pt);
}

#map {
	clip-path: circle(40%);
	display: none;
	height: 550px;
	width: 600px;
}

#map-background,
#map-cities,
#map-radars {
	position: absolute;
}

#search {
	display: flex;
	font-size: var(--forecast-font);
}

#searchbar {
	background-color: var(--darkerBlue);
	color: white;
	font-family: "IBM Plex Sans";
	font-size: var(--search-font);
	font-weight: 300;
	min-width: 0;
	text-indent: 20px;
	width: -webkit-fill-available;
}

#submit-button {
	background-color: var(--lighterBlue);
	color: white;
	font-size: var(--submit);
	padding: 8px 20px;
}

#submit-button:hover {
	background-color: var(--darkBlue);
}

#submit-button:active { /* must be after :hover to avoid overwriting */
	background-color: var(--darkerBlue);
}

#sub-title {
	color: var(--darkerBlue);
	font-size: 4.5vw;
	line-height: 8vw;
}

#title {
	text-align: center;
}