:root {
    --darkBlue: rgb(98, 59, 156);
    --darkerBlue: #2c007f;
    --lightBlue: rgb(73, 138, 220);
    --lighterBlue: #b0a0ff;
    --marginHor: 150px;
    --marginVert: 120px;
    --header: 45pt;
    --subheader: 33pt;
    --forecast: 22pt;
    --search: 20pt;
    --submit: 16pt;
    --time-header: 35pt;
    --temp-header: 85pt;
    --time-main: 25pt;
    --temp-main: 75pt;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#current-temp {
	font-size: var(--temp-header);
}

#current-time-div {
	display: flex;
	flex-direction: column;
	font-size: var(--time-header);
}

#current-weather {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Saira Extra Condensed";
	font-weight: 300;
}

#current-weather-icon {
}

header {
	background: linear-gradient(var(--lightBlue), var(--darkBlue));
	box-shadow: 0 20px 50px #8c8c8c;
	font-family: "IBM Plex Sans";
	font-weight: 500;
	height: -webkit-fill-available;
	padding: var(--marginVert) var(--marginHor);
	width: auto;
}

.next-hour {
	display: flex;
	font-family: "Saira Extra Condensed";
	font-weight: 300;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
}

.next-hour-icon {
	height: 20%;
}

.next-hour:nth-child(0) {
	border: none;
}

#next-hours {
	align-content: center;
	display: flex;
	width: auto;
}

.next-hour-temp {
	font-size: var(--temp-main);
}

.next-hour-time {
	font-size: var(--time-main);
}

#main-title {
	color: white;
	font-size: var(--header);
}

#map-background,
#map-cities,
#map-radars {
	position: absolute;
	display: none;
}

#no-border {
	border: none;
}

.time-icon-div {
	border-right: 2px solid LightGray;
	margin-bottom: 15px;
}

.time-icon-div img {
	width: 180px;
}

#sub-title {
	color: var(--darkerBlue);
	font-size: var(--subheader);
}

#search {
	align-items: baseline;
	color: white;
	display: flex;
	flex-direction: row;
	margin-top: calc(var(--marginHor) / 2);
}

#searchbar {
	background-color: #2c007f;
	color: white;
	font-family: "IBM Plex Sans";
	font-size: var(--search);
	font-weight: 300;
	margin: 0 10px 0 15px;
	padding: 0.05em;
	text-indent: 20px;
	width: 350px;
}

#submit-button {
	background-color: var(--lighterBlue);
	color: white;
	font-size: var(--submit);
	padding: 0.2em 20px;
}

#search p {
	font-size: var(--forecast);
}
